@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}

.container {
  width: 1440px;
  height: 100vh;
  padding: 12px 0;
  background: hsl(217, 54%, 11%);
}
.card {
  max-width: 300px;
  margin: auto;
  background: hsl(216, 50%, 16%);
  padding: 12px;
  border-radius: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.card:hover {
  color: hsl(215, 51%, 70%);
}
img {
  width: 100%;
  padding: 4px;
  border-radius: 1.5rem;
}
.title {
  color: hsl(0, 0%, 100%);
  margin-top: 1rem;
  margin-left: 0.1rem;
}
p,
.day {
  color: hsl(215, 32%, 27%);
}
.paragraph {
  padding: 6px;
  margin: 1rem 0;
}
.first-span {
  color: hsl(178, 100%, 50%);
}

.mid-content {
  display: flex;
  margin: 0 -5px;
}
.mid-content .space {
  margin: 0 27px;
  margin-bottom: 1rem;
}
.footer {
  border-top: 0.1rem solid hsl(215, 32%, 27%);
}
.footer-content {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer img {
  width: 49px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.footer p {
  /*  display: inline-block; */
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .container {
    width: 375px;
    margin: 0 auto;
  }
}
